<section id="blog" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Destinations</h6>
           

            <div class="row text-left">
                <div class="col-md-4">
                    <div class="card border mb-4">
                        <img src="~/assets/imgs/Faisal Mosquae.jpg" style="height:300px" alt="" class="card-img-top w-100">
                        <div class="card-body">
                            <h5 class="card-title">Islamabad</h5>
                            <div class="post-details">
                                <a href="javascript:void(0)"><i class="ti-thumb-up"></i> 456</a>
                                <a href="javascript:void(0)"><i class="ti-comment"></i> 123</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border mb-4">
                        <img src="~/assets/imgs/Badshahi Mosquae.jpg" style="height:300px" alt="" class="card-img-top w-100">
                        <div class="card-body">
                            <h5 class="card-title">Lahore</h5>
                            <div class="post-details">
                                <a href="javascript:void(0)"><i class="ti-thumb-up"></i> 456</a>
                                <a href="javascript:void(0)"><i class="ti-comment"></i> 123</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border mb-4">
                        <img src="~/assets/imgs/Mazar e Quaid 2.jpg" style="height:300px" alt="" class="card-img-top w-100">
                        <div class="card-body">
                            <h5 class="card-title">Karachi</h5>
                            <div class="post-details">
                                <a href="javascript:void(0)"><i class="ti-thumb-up"></i> 456</a>
                                <a href="javascript:void(0)"><i class="ti-comment"></i> 123</a>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-md-4">
                    <div class="card border mb-4">
                        <img src="~/assets/imgs/khyber-gate.jpg" style="height:300px" alt="" class="card-img-top w-100">
                        <div class="card-body">
                            <h5 class="card-title">Peshawar</h5>
                            <div class="post-details">
                                <a href="javascript:void(0)"><i class="ti-thumb-up"></i> 456</a>
                                <a href="javascript:void(0)"><i class="ti-comment"></i> 123</a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="card border mb-4">
                        <img src="~/assets/imgs/Ghanta Ghar.jpg" style="height:300px" alt="" class="card-img-top w-100">
                        <div class="card-body">
                            <h5 class="card-title">Faislabad</h5>
                            <div class="post-details">
                                <a href="javascript:void(0)"><i class="ti-thumb-up"></i> 456</a>
                                <a href="javascript:void(0)"><i class="ti-comment"></i> 123</a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="card border mb-4">
                        <img src="~/assets/imgs/photo1jpg.jpg" style="height:300px" alt="" class="card-img-top w-100">
                        <div class="card-body">
                            <h5 class="card-title">Multan</h5>
                            <div class="post-details">
                                <a href="javascript:void(0)"><i class="ti-thumb-up"></i> 456</a>
                                <a href="javascript:void(0)"><i class="ti-comment"></i> 123</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>