 <header class="header">
        <div class="container row">
            <div class="infos col-md-6">
                <h6 class="title">PAK Airlines</h6>
                <h6 class="subtitle">Save Time And Fly With Comfort</h6>
                <div class="buttons pt-3">
                    <button class="btn btn-primary rounded">Book Ticket</button>
                </div>      
            </div>              
            <div class="col-md-4 float-right">
                <img src="assets/imgs/105-1051267_cartoon-airplane-on-blue-sky-airplane-cartoon-no-removebg-preview.png" alt="">
            </div>      
        </div>  
 </header>